<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Customer Dashboard</title>
<link rel="stylesheet" href="style.css">
</head>
<body>

    <aside class="sidebar">
        <div class="profile">
            <div class="avatar"></div>
            <div class="profile-info">
                <div class="name">Name</div>
                <div class="memeber">Gold member</div>
            </div>
        </div>
        
        <nav>
            <a href="#" class="nav-item">Dashboard</a>
            <a href="#" class="nav-item">Profile</a>
            <a href="#" class="nav-item">Rewards</a>
            <a href="#" class="nav-item">Support</a>

        </nav>

        <hr class = "divider">

        <a href="#" class=""logout>Logout</a>"
    </aside>

</body>
</html>