{% extends "base.html" %}

{% block title %}

Home| Star Hotel

{% endblock %}

{% block content %}

<!-- HERO -->
<section class="hero">

       <div class="hero-overlay">

        <h1>
            Experience Luxury and Comfort
        </h1>

        <p>
            Find the perfect room for your next stay.
        </p>

    </div>

</section>

<!-- SEARCH BAR -->
<section class="booking-search">

<form>

<div class="search-field">

<label>Hotel Branch</label>

<select>

<option>Select branch</option>

</select>

</div>

<div class="search-field">

<label>Check In</label>

<input type="date">

</div>

<div class="search-field">

<label>Check Out</label>

<input type="date">

</div>

<div class="search-field">

<label>Guests</label>

<select>

<option>2 Guests</option>

</select>

</div>

<button>

Search Rooms

</button>

</form>


</section>

<!-- FEATURED ROOMS -->
<section class="featured-rooms">

</section>

<!-- PACKAGES -->
<section class="packages">

</section>

<!-- ACTIVITIES -->
<section class="activities">

</section>

{% endblock %}