{% extends "base.html" %}

{% block title %}

Booking

{% endblock %}

{% block content %}

<section class ="hero-bannner"
    <img src="#" alt="Hotel Receptionist" class="hero-img">
</section>

<div class="booking-container">
    <div class="booking-container">
        <div class="search-bar">
            <div="search-field">
                <label>Hotels</label>
                <select>
                    <option> Star Hotel - Main</option>
                </select>

            </div>

        </div>
        <div class="search-field">
            <label>Guests</label>
            <input type = "number" min="1" placeholder="2">
        </div>
        <div class = "search-field">
            <label>Check-In</label>
            <inputtype="date">
        </div>
        <div>
        <div class = "search-field">
            <label>Check-In</label>
        </div>
        
        </inputtype>

        </div>


        </div>










<section class

<h1>Booking Page</h1>

{% endblock %}