{% extends "base.html" %}

{% block title %}

Home| Star Hotel

{% endblock %}

{% block content %}

<!-- HERO -->
<section class="hero">

       <div class="hero-overlay">

        <h1>
            Experience Luxury and Comfort
        </h1>

        <p>
            Find the perfect room for your next stay.
        </p>

    </div>

</section>

<!-- SEARCH BAR -->
<section class="booking-search">

<form>

<div class="search-field">

<label>Hotel Branch</label>

<select>

<option>Select branch</option>

</select>

</div>

<div class="search-field">

<label>Check In</label>

<input type="date">

</div>

<div class="search-field">

<label>Check Out</label>

<input type="date">

</div>

<div class="search-field">

<label>Guests</label>

<select>

<option>2 Guests</option>

</select>

</div>

<button>

Search Rooms

</button>

</form>


</section>

<!-- FEATURED ROOMS -->
<section class="featured-rooms">

<h2>

Featured Rooms

</h2>

<div class="room-container">

<div class="room-card">

    <img>

<h3>Deluxe Room</h3>

<p>★★★★★</p>

<p>2 Guests • King Bed</p>

<h4>Rs 15,000 / night</h4>

<button>

View Details

</button>

</div>

<div class="room-card">

    <img>

<h3>Standard Room</h3>

<p>★★★★★</p>

<p>2 Guests • Queen Bed</p>

<h4>Rs 9,500 / night</h4>

<button>

View Details

</button>

</div>

<div class="room-card">

    <img>

<h3>Studio Room</h3>

<p>★★★★★</p>

<p>2 Guests • King Bed • Terrace</p>

<h4>Rs 12,500 / night</h4>

<button>

View Details

</button>

</div>

<div class="room-card">

    <img>

<h3>Executive Room</h3>

<p>★★★★★</p>

<p>2 Guests • King Bed • Fire heating</p>

<h4>Rs 18,000 / night</h4>

<button>

View Details

</button>

</div>

</div>

</section>

<!-- PACKAGES -->
<section class="packages">

</section>

<!-- ACTIVITIES -->
<section class="activities">

</section>

{% endblock %}